**/.DS_Store
*~
.DS_Store
._*
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/*.mode1v3
**/*.xcodeproj/*.pbxuser
**/*.xcodeproj/*.mode1v3
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
